

@import "./frontend/vendor/bootstrap/css/bootstrap.min.css";
@import "./frontend/vendor/bootstrap-icons/bootstrap-icons.css";
@import "./frontend/vendor/glightbox/css/glightbox.min.css";
@import "./frontend/vendor/swiper/swiper-bundle.min.css";
@import "./frontend/vendor/aos/aos.css";
@import "./frontend/css/main.css";
:root {
  --font-default: "Open Sans", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-primary: "Montserrat", sans-serif;
  --font-secondary: "Lato", sans-serif;
}

/* Global Colors */
:root {
  --color-default: #212529;
  --color-default-rgb: 33, 37, 41;
  /* --color-background: #ffffff; */
  --color-background-rgb: 255, 255, 255;
  --color-primary: #7ec0ec;
  --color-primary-rgb: 232, 69, 69;
  --color-secondary: #32353a;
  --color-secondary-rgb: 50, 53, 58;
  --color-box-background: #ffffff;
  --color-box-background-rgb: 255, 255, 255;
  --color-inverse: #ffffff;
  --color-inverse-rgb: 255, 255, 255;
}

/* Nav Menu Colors */
:root {
  --color-nav: #3a3939;
  --color-nav-hover: #5e5e5e;
  --color-nav-dropdown: #3a3939;
  --color-nav-dropdown-hover: #d1a2a2;
  --color-nav-dropdown-background: #ffffff;
  --color-nav-mobile-background: #ffffff;
}

/* Smooth scroll */
:root {
  scroll-behavior: smooth;
}
nav a.router-link-exact-active {
  color: white;
  /* font-size: 20px; */
  background-color:  #71bdf093;
  border-radius: 6px;

  
}
@media only screen and (max-width: 600px) {
  .logo {
    display: none;
  }
}
.vip {
  padding: 60px 0 120px 0;
}

.vip .section-title {
  margin-bottom: 40px;
}

.vip .vip-item {
  background: var(--color-box-background);
  box-shadow: 0 3px 20px -2px rgba(var(--color-default-rgb), 0.1);
  padding: 60px 40px;
  height: 100%;
  position: relative;
  border-radius: 15px;
}

.vip h3 {
  color: var(--color-secondary);
  font-weight: 600;
  margin-bottom: 15px;
  font-size: 20px;
  text-align: center;
}

.vip .icon {
  margin: 30px auto 20px auto;
  width: 70px;
  height: 70px;
  background: var(--color-primary);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
  transform-style: preserve-3d;
}

.vip .icon i {
  color: var(--color-background);
  font-size: 28px;
  transition: ease-in-out 0.3s;
  line-height: 0;
}

.vip .icon::before {
  position: absolute;
  content: "";
  height: 86px;
  width: 86px;
  border-radius: 50%;
  background: rgba(var(--color-primary-rgb), 0.2);
  transition: all 0.3s ease-out 0s;
  transform: translateZ(-1px);
}

.vip .icon::after {
  position: absolute;
  content: "";
  height: 102px;
  width: 102px;
  border-radius: 50%;
  background: rgba(var(--color-primary-rgb), 0.1);
  transition: all 0.3s ease-out 0s;
  transform: translateZ(-2px);
}

.vip h4 {
  font-size: 48px;
  color: var(--color-primary);
  font-weight: 700;
  font-family: var(--font-primary);
  margin-bottom: 25px;
  text-align: center;
}

.vip h4 sup {
  font-size: 28px;
}

.vip h4 span {
  color: rgba(var(--color-default-rgb), 0.5);
  font-size: 18px;
  font-weight: 400;
}

.vip ul {
  padding: 20px 0;
  list-style: none;
  color: rgba(var(--color-default-rgb), 0.8);
  text-align: left;
  line-height: 20px;
}

.vip ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}

.vip ul i {
  color: #059652;
  font-size: 24px;
  padding-right: 3px;
}

.vip ul .na {
  color: rgba(var(--color-default-rgb), 0.3);
}

.vip ul .na i {
  color: rgba(var(--color-default-rgb), 0.3);
}

.vip ul .na span {
  text-decoration: line-through;
}

.vip .buy-btn {
  color: rgba(var(--color-default-rgb), 0.8);
  background-color: var(--color-inverse);
  display: inline-block;
  padding: 10px 40px;
  border-radius: 4px;
  border: 1px solid rgba(var(--color-default-rgb), 0.2);
  transition: none;
  font-size: 16px;
  font-weight: 600;
  font-family: var(--font-primary);
  transition: 0.3s;
}

.vip .buy-btn:hover {
  background-color: var(--color-primary);
  color: var(--color-inverse);
}

.vip .featured {
  z-index: 10;
  border: 3px solid var(--color-primary);
}

.vip .featured .buy-btn {
  background-color: var(--color-primary);
  color: var(--color-inverse);
}

.vip .featured .buy-btn:hover {
  background-color: rgba(var(--color-primary-rgb), 0.9);
}

@media (min-width: 992px) {
  .vip .featured {
    transform: scale(1.15);
  }
}




